<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DonneTesDevs - Sign Up</title>
</head>

<body>
    <form action="/submitSignUp" method="post">
        <div>
            <label for="pseudo">pseudo :</label>
            <input type="text" id="pseudo" name="user_pseudo">
        </div>
        <div>
            <label for="mail">e-mail :</label>
            <input type="email" id="mail" name="user_mail">
        </div>
        <div>
            <label for="password">mot de passe :</label>
            <input type="password" id="password" name="user_password">
        </div>
        <button type="submit">sub</button>
    </form>
</body>

</html>